name: Tests

on:
  push:
    paths:
      - Zjazd-3/**

jobs:
  test:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6.0.1

      - name: Set up Python
        uses: actions/setup-python@v6.1.0

      - name: Run Tests
        working-directory: Zjazd-3
        run: python3 -m unittest discover
